@font-face {
  font-family: "8bitOperatorPlus";
  src: url("./assets/fonts/8bitOperatorPlus-Bold.woff");
}

@font-face {
  font-family: "fzb";
  src: url("./assets/fonts/FZBitmap-GBK-11X12-2.ttf");
}

body{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#root{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.app{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.window{
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  background: #c3c3c3;
  border: #000000 3px solid;
}

.window .title-bar{
  background: #656565;
  position: absolute;
  top: 3px;
  left: 3px;
  width: calc(100% - 16px);
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.window .title-bar .title{
  font: 13px "8bitOperatorPlus", "fzb";
  color: #fff;
}

.window .title-bar .right{
  position: relative;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.window .title-bar .right .close-button{
  width: 24px;
  height: 24px;
  background: url("./assets/icons/close-button.png");
}

.window .content{
  position: absolute;
  top: 36px;
  left: 3px;
  border: #2c2c2c 3px solid;
  overflow: hidden;
  width: calc(100% - 12px);
  height: calc(100% - 45px);
}

.bottom-bar{
  position: absolute;
  bottom: 0px;
  border-top: #2c2c2c 3px solid;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.bottom-bar .left{
  font: 12px "8bitOperatorPlus", "fzb";
  color: black;
}

.bottom-bar .right{
  position: relative;
  margin-left: auto;
  margin-right: 17px;
}

.bottom-bar .right .next-button{
  background: #7a7a7a;
  border-color: #5f5f5f;
  font: 13px "8bitOperatorPlus", "fzb";
  color: white;
  padding: 3px 15px;
}

.side-image{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: calc(100% - 45px);
  object-fit: cover;
}

.page-container{
  position: absolute;
  top: 0px;
  left: 200px;
  width: calc(100% - 240px);
  height: calc(100% - 85px);
  padding: 20px;
  display: flex;
}

.page-header{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.page-header .title{
  font: 20px "8bitOperatorPlus", "fzb";
}

.page-header  .description{
  font: 13px "8bitOperatorPlus", "fzb";
  color: #5f5f5f;
}

.game-path-selector .option{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.game-path-selector .option .name{
  font: 13px "8bitOperatorPlus", "fzb";
  color: black;
}

.game-path-selector .option .input{
  background: transparent;
  border: #2c2c2c 3px solid;
  padding: 5px;
  font: 13px "8bitOperatorPlus", "fzb";
  color: black;
  outline: none;
}

.downloading-packs-info .loading{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.readme{
  width: 100%;
}

.readme .dialog{
  position: relative;
  top: 50%;
  transform: translate(0%, -60%);
  height: 320px;
  background: url(./assets/utils/dialog.gif);
}

.readme .dialog .dialog-content{
  position: absolute;
  top: 30px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: scroll;
  background: transparent;
  outline: none;
  border: none;
  font: 13px "8bitOperatorPlus", "fzb";
  color: white;
}
.readme .dialog .dialog-content::-webkit-scrollbar{
  display: none;
}

.packs-selector{
  position: relative;
  width: 100%;
}

.packs-selector .packs{
  position: relative;
  top: 50%;
  transform: translate(0%, -60%);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.packs-selector .packs .pack-wapper[data-selected=true] .pack .pack-content .left .pack-name{
  color: yellow;
}

.packs-selector .packs .pack-wapper .pack .pack-content .left .pack-name{
  transition: all 0.5s;
}

.packs-selector .packs .pack-wapper:hover .pack .pack-content .left .pack-name{
  color: yellow;
}

.pack{
  position: relative;
  height: 100px;
  overflow: hidden;
}

.pack .background{
  position: absolute;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
  object-fit: cover;
}

.pack .pack-content{
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(./assets/utils/pack.gif);
  opacity: 0.8;
  padding: 0px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pack .pack-content .left{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pack .pack-content .left .pack-name{
  font: 14px "8bitOperatorPlus", "fzb";
  color: white;
}

.pack .pack-content .left .chapter-id{
  font: 12px "8bitOperatorPlus", "fzb";
  color: white;
}

.pack .pack-content .right{
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pack .pack-content .right .version{
  font: 13px "8bitOperatorPlus", "fzb";
  color: white;
}

.enable-backup .option{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

.enable-backup .option .name{
  font: 14px "8bitOperatorPlus", "fzb";
  color: black;
}

.enable-backup .option .checkbox{
  -webkit-appearance: none;
  background: transparent;
  width: 24px;
  height: 24px;
  border: #2c2c2c 3px solid;
}

.enable-backup .option .checkbox[data-checked=true]{
  background: yellow;
}

.mirrors-selector .mirrors{
  position: relative;
  top: 50%;
  transform: translate(0%, -65%);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.mirrors-selector .mirrors .mirror{
  position: relative;
  height: 100px;
  overflow: hidden;
  background: url(./assets/utils/pack.gif);
  padding: 0px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.mirrors-selector .mirrors .mirror:hover .url{
  color: yellow;
}

.mirrors-selector .mirrors .mirror[data-selected=true] .url{
  color: yellow;
}

.mirrors-selector .mirrors .mirror .url{
  font: 14px "8bitOperatorPlus", "fzb";
  color: white;
  transition: all 0.5s;
}

.mirrors-selector .mirrors .mirror .RTT{
  font: 12px "8bitOperatorPlus", "fzb";
  color: white;
}

.installing-progress{
  position: relative;
  width: 100%;
}

.installing-progress .loading{
  position: absolute;
  bottom: 20px;
}

.installing-progress .dialog{
  position: relative;
  top: 50%;
  transform: translate(0%, -60%);
  height: 320px;
  background: url(./assets/utils/dialog.gif);
}

.installing-progress .dialog .dialog-content{
  position: absolute;
  top: 30px;
  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: scroll;
  background: transparent;
  outline: none;
  border: none;
  font: 13px "8bitOperatorPlus", "fzb";
  color: white;
}

.installing-progress .dialog .dialog-content::-webkit-scrollbar{
  display: none;
}